{{#tokens}}
    <div class="radio">
        <label>
            <input type="radio" name="tokenidx" class="tokenidx" value="{{@index}}">
            {{balance}} {{symbol}}
        </label>
    </div>
{{/tokens}}
{{^tokens}}
    <p>You don't have any tokens!</p>
{{/tokens}}
